node {
	text-alignment: center;
	text-style:bold;
	size:18px;
	shadow-mode:plain;
	shadow-offset:0px; 
 	shadow-color:#E4E4E4;
 	/*z-index: 0;*/
	}

edge{
	/*z-index: 1;*/
	size:2px;
}

node.Storage {
	fill-color: blue;
	text-color:white;
	}
	
node.ConventionalGenerator {
	fill-color: gray;
	}	
	
node.RenewableGenerator {
	fill-color: green;
}

node.Consumer {
	fill-color: yellow;
}

node.InnerNode {
	fill-color: #5E5E5E;
	text-color:white;
}
